<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Senior SOC Engineer</h1>
            <span><address>Allied Digital Servies Ltd.</address><time>October 2017 to Feb 2019(1 year and 4 months)</time></span>
        </header>
        <p>Roles and Responsibilities: </br>
            <ul style="list-style-type:disc;">
                <li>Responsible for managing team that support’s monitoring on client Firewall and other perimeter devices.</li>
                <li>Working with multiple levels of management along with the clients supported by the SOC.</li>
                <li>Conducting systematic application security assessments and penetration tests. The assessments involve manual testing and analysis as well as the use of automated web application vulnerability scanning/testing tools.</li>
                <li>Guide the team with day to day issues as they relate to client services engagements and communicate critical client issues to management.</li>
                <li>Present Monthly reports and maintain Client relationship.</li>
                <li>Investigate In house as well as Client Machine which is infected by some malware (Behavior Analysis).</li>
                <li>Prepare Lesson Learned for all the research and Investigation I am part of.</li>
                <li>Deploy and Troubleshoot SIEM as and when required.</li>
                <li>Building, coordinating and implementing the knowledge base for manual test cases of web appsec in form of checklist</li>
                <li>Prepare Technical Risk Assessment Report and remediation steps for vulnerabilities detected </li>
            </ul>                
        </p>
    </article>
    <article>
        <header>
            <h1>SOC Trainee</h1>
            <span><address>Allied Digital Services Ltd.</address><time>August 2016 - October 2017 (1 year and 3 months)</time></span>
        </header>
        <p>Roles and Responsibilities </br>
        <ul style="list-style-type:disc;">
            <li>Monitoring of Network Devices Integrated In OSSIM, IBM SELM and Seceon.</li>
            <li>Monitor abnormal traffic, report it for corrective action and collecting useful data for compliance reporting.</li>
            <li>Analyzing and investigating security event logs from SIEM console.</li>
            <li>L1 and L2 support for Incident Management and Ticket Resolution.</li>
            <li>Co-ordinate with Client as well as Service Provider to resolve last mile issues.</li>
            <li>Perform other tasks listed in scope of service deliverables and the activities assigned as per requirement by the client from time to time</li>
            <li>Research on new vulnerabilities, attack vectors, exploits and industry trends.</li>
            <li>Perform daily checklist of all the critical devices.</li>
        </ul>
        </p>
    </article>
</section>
